<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="row hm-main-navbar sticky-top px-4">
        <nav class="navbar navbar-expand-md" style="background-color: rgb(222,171,3)">
            <div class="col col-md-4 navbar-logo">My Digital Cookbook</div>
            <div class="col navbar-links">
                <div class="d-flex justify-content-end">
                    <button type="button" id="sign-in" class="btn-nav btn btn-outline-success btn-sm">Sign In</button>
                    <button type="button" id="register" class="btn-nav btn btn-success btn-sm">Sign Up</button>
                </div>
                <div class="navbar-links">
                    <ul class="ml-auto justify-content-end navbar-nav ">
                        <li class="nav-item"><a style="color: #428803" href="/welcome">Home |</a></li>
                        <li class="nav-item"><a style="color: #428803" href="/recipeshome">Recipes |</a></li>
                        <!-- <li class="nav-item"><a style="color: #428803" href="/mealplans">Meal Plans |</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div >
    <div class="d-flex justify-content-between">
        <h1>Welcome {{user.first_name}}</h1>
        <div>
            <a class="btn btn-primary m-4  ps-3 form-group" href="/welcome">Back to Recipes</a>
            <a class="btn btn-primary m-4  ps-3 form-group" href="/logout">Logout</a>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div>
            <div id="recipe_info">
                
                <h1>{{recipe.name}}</h1>
                <p>Posted by: {{recipe.poster.first_name}}</p>
            
                <div>
                        <p>Description:         {{recipe.description}}</p>
                        <p>Cook Time            {{recipe.cook_time}}</p>
                        <p>Instructions         {{recipe.instructions}}</p>
                        <p>Ingredients          {{recipe.ingredients}}</p> 
                        <p>Date Made            {{recipe.date_cooked}}</p>
                </div>
            </div>
        </div>
            <div>
                <h1>Edit Recipe</h1>
            <form class="text-white mt-0 bg-success pad" onsubmit="editRecipe(event)" id="edit_recipe">
                <div class="mt-0 m-3 p-3 form-group">
                    <label for="name">Name</label> 
                    <input class="form-control" type="text" name="name" id="name" value="{{recipe.name}}">
                </div>
                <div class="m-3 p-3 form-group ">
                    <label for="description">Description</label>
                    <input type="text" class="form-control"  name="description" id="description" value="{{recipe.description}}">
                </div>
                <div class="m-3 mb-0 p-3 form-group ">
                    <label for="instructions">Instructions</label>
                    <textarea type="text" class="form-control"  name="instructions">{{recipe.instructions}}</textarea>
                </div>
                <div class="m-3 mb-0 p-3 form-group ">
                    <label for="ingredients">Ingredients</label>
                    <textarea type="text" class="form-control"  name="ingredients">{{recipe.ingredients}}</textarea>
                </div>
                <div class="m-3 mb-0 p-3 form-group ">
                    <label for="cooked-date">Date Cooked/Made</label>
                    <input type="date" class="form-control "  name="date_cooked" id="date_cooked" value="{{recipe.date_cooked}}">
                </div>
                <div class="m-3 mb-0 p-3 form-group ">
                    <label for="yes">Cook Time</label>
                    <input type="text" class="form-control"  name="cook_time" id="cook_time" value="{{recipe.cook_time}}">
                </div>
                <button  class="btn btn-warning m-4  ps-3 form-group">Submit</button>
                <input type="hidden" value="{{recipe.id}}" name='id'>
            </form>
        </div>
    </div>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
